In [88]:
import pandas as pd
import csv
import json
import nltk
import numpy as np
from pandas.io.json import json_normalize
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn import cross_validation
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

file = "C:\\Users\\user\\Desktop\\semantics.json"
file1 = "C:\\Users\\user\\Desktop\\reviews1.json"  #reviews1.json
df = pd.read_json(file1,typ='series')
df_rev = json_normalize(df['Reviews'])
df_rev['full_content'] = df_rev['Content'] + '. ' + df_rev['Title']
pos = pd.read_json(file,typ='series')

newcol = df_rev['full_content']
newcol.to_csv('content_reviews.csv',header=False, index=False, encoding='utf-8')

df = pd.read_csv('C:\Users\user\Documents\sentiment-analysis-reviews\content_reviews.csv',encoding='utf-8', header=None)
scores = []

for x in df[0]:
    sen = x.lower()
    stopWords = set(stopwords.words('english'))
    words = word_tokenize(sen)
    
    wordsFiltered = []
    for w in words:
        if w not in stopWords:
            wordsFiltered.append(w)
    #print wordsFiltered
    posScore = 0
    negScore = 0
    for i in range(0,len(pos['positive'])):
        for s in wordsFiltered:
            if s in pos['positive'][i]['phrase']:
                posScore = posScore+pos['positive'][i]['value']
                
    for j in range(0,len(pos['negative'])):
        for s in wordsFiltered:
            if s in pos['negative'][j]['phrase']:
                negScore = negScore+pos['negative'][j]['value']
                
    if posScore > negScore:
        scores.append('positive')
        
    elif posScore < negScore:
        scores.append('negative')
    else:
        scores.append('neutral')
        
            
df['scores'] = scores
#df

df.to_csv('hotels_scores.csv', header=False, index=False,encoding='utf-8')

#After having csv containg reviews and their coresponding sentiment, pass them to ML model to train and get their accuracy

#loading file

def load_file():
    with open('C:\Users\user\Documents\sentiment-analysis-reviews\hotels_scores.csv') as csv_file:
        reader = csv.reader(csv_file,delimiter=",",quotechar='"')
        reader.next()
        data =[]
        target = []
        for row in reader:
            if row[0] and row[1]:
                data.append(row[0])
                target.append(row[1])

        return data,target

#creating the trem frequency matrix for the dataset
def preprocess():
    data,target = load_file()
    count_vectorizer = CountVectorizer(binary='true')
    data = count_vectorizer.fit_transform(data)
    tfidf_data = TfidfTransformer(use_idf=False).fit_transform(data)
    
    return tfidf_data

def learning_model(data,target):
    # preparing data for split validation. 60% training, 40% test
    data_train,data_test,target_train,target_test = cross_validation.train_test_split(data,target,test_size=0.3,random_state=43)
    classifier = BernoulliNB().fit(data_train,target_train)
    predicted = classifier.predict(data_test)
    evaluate_model(target_test,predicted)
    

def evaluate_model(target_true,target_predicted):
    print classification_report(target_true,target_predicted)
    print "The accuracy score is {:.2%}".format(accuracy_score(target_true,target_predicted))
        
def main():
    data,target = load_file()
    tf_idf = preprocess()
    learning_model(tf_idf,target)
# main()

# Some statistics about the reviews:
print("Number of reviews in reviews1.json = " + str(len(df.index)))
positive_rev = (df['scores'] == 'positive').sum()
negative_rev = (df['scores'] == 'negative').sum()
neutral_rev = (df['scores'] == 'neutral').sum()
print("Number of positive reviews =" + " "+str(positive_rev))
print("Number of negative reviews =" + " "+str(negative_rev))
print("Number of neutral reviews =" +" "+ str(neutral_rev))

df.describe()

print ('\nThe mean values are: ')

df_X = pd.read_json(file1,typ='series')
df_XX = json_normalize(df_X['Reviews'])
df_XX

Number of reviews in reviews1.json = 188
Number of positive reviews = 39
Number of negative reviews = 130
Number of neutral reviews = 19

The mean values are:

,Author,AuthorLocation,Content,Date,"Ratings.Business service (e.g., internet access)",Ratings.Check in / front desk,Ratings.Cleanliness,Ratings.Location,Ratings.Overall,Ratings.Rooms,Ratings.Service,Ratings.Sleep Quality,Ratings.Value,ReviewID,Title
0,amacwow,Philadelphia,Hotel is clean and very close to airport. Staf...,"April 7, 2012",NaN,NaN,4,5,4.0,4,4,NaN,4,UR127417978,“Excellent location for business travelers sta...
1,robinhenshaw,"Rochdale, United Kingdom",Very convenient for LAX (free shuttle). New ve...,"April 5, 2012",NaN,NaN,4,3,3.0,3,3,4,3,UR127319807,“City Centre Holiday Inn”
2,zorro-plata,Dunedin,The thing I like most about Holiday Inn LAX is...,"April 2, 2012",NaN,NaN,4,5,4.0,4,4,5,4,UR127160327,"“Value, convenient, but ...”"
3,judystoks,"Porter, MN",We stayed here one night before taking a cruis...,"March 27, 2012",NaN,NaN,5,5,5.0,4,5,4,4,UR126728543,“Great One Night Stay”
4,Qwik16,"Simsbury, Connecticut",This hotel is just minutes away from LAX with ...,"March 23, 2012",NaN,NaN,5,5,3.0,4,4,3,5,UR126534324,“Close to Airport”
5,travelermanPhoenix,"Avondale, Arizona",I stay at this hotel a lot. The staff is nice ...,"March 22, 2012",NaN,NaN,3,2,3.0,3,5,3,3,UR126509591,“Airline Crew”
6,TXJones,"Dallas, TX",This hotel is good for a one night stay close ...,"March 15, 2012",NaN,NaN,3,5,3.0,3,4,NaN,3,UR126138691,“Good for a one night stay close to LAX”
7,Franklin J,"Houston, Texas",I've been trying to call the hotel for the pas...,"March 15, 2012",NaN,NaN,1,1,1.0,1,1,1,1,UR126136687,“horrible hotel”
8,winkrob92,,It's a hit &the miss one week go od another ba...,"March 2, 2012",NaN,NaN,3,2,3.0,3,4,NaN,3,UR125491474,“Airline Crew”
9,JubilantBeggar,"London, United Kingdom","Marginal hotel, but close in proximity to LAX....","February 26, 2012",NaN,NaN,4,5,3.0,4,4,3,5,UR125218028,"“Average hotel, but great for LAX flights”"
10,Lw080212,,We stayed in this hotel as we transited to & f...,"February 20, 2012",NaN,NaN,3,4,4.0,4,5,NaN,5,UR124930802,“Joe you make this Hotel !!!!!”
11,maxi_bon2011,Sydney,I'd recommend this hotel for a quick stopover ...,"February 20, 2012",NaN,NaN,4,2,4.0,3,3,4,3,UR124912160,“Decent hotel close to the airport but far fro...
12,alanadi25,"Perth, Australia","Check in was quick and easy, our room was big ...","February 12, 2012",NaN,NaN,4,4,4.0,4,3,NaN,4,UR124502262,“Great stay for a night close to the airport”
13,lillypilly72,"Melbourne, Australia",I stayed at this hotel for 1 night prior to fl...,"February 12, 2012",NaN,NaN,3,3,2.0,1,1,1,2,UR124495126,“DATED WITH AVERAGE CUSTOMER SERVICE”
14,Janieg9,"Southampton, United Kingdom","Concierge and staff were very friendly, room w...","February 8, 2012",NaN,NaN,4,4,4.0,3,4,4,3,UR124304570,“Great 'stop over' hotel with free shuttle”
15,Triplewin,"Big Lake, Minnesota",Even as I write this I find it hard to describ...,"February 1, 2012",NaN,NaN,3,4,3.0,3,3,3,3,UR123984946,“An uneasy but OK stay...”
16,Mimielephant,"Pittsburgh, Pennsylvania","Overall, we had an average experience at this ...","January 30, 2012",NaN,NaN,3,3,3.0,3,2,3,2,UR123864812,“Early Wake-Ups!”
17,Globetrekers,"Atlanta, GA",My wife is an airline employee so we fly stand...,"January 26, 2012",NaN,NaN,5,5,5.0,5,5,5,5,UR123644014,“Awesome customer service”
18,SydneyTash,"Sydney, Australia","After missing a flight, I had to find accomoda...","January 19, 2012",NaN,NaN,3,3,3.0,3,4,3,4,UR123287287,“Convenient to LAX”
19,DalisuDube,Johannesburg,Great Service. Rooms are very nice.Close to LA...,"January 16, 2012",NaN,NaN,5,3,4.0,5,4,3,4,UR123148509,“Highly recommended”
20,Dan_H777,Perth,We recently(20 Dec 2011) stayed for a night be...,"January 7, 2012",NaN,NaN,4,4,5.0,4,4,4,5,UR122736552,“Well priced & Convenient Location”
21,Karleewdwicp,,I recently stayed at the holiday inn at lax ai...,"December 29, 2011",NaN,NaN,5,5,5.0,5,3,NaN,3,UR122207099,“Excellent for layovers”
22,Riclau,,we came back to la to see a sport game and ask...,"December 26, 2011",NaN,NaN,4,3,3.0,3,1,4,3,UR122095892,“bell man is dodgy”
23,Cindy8527,"Idaho Falls, Idaho",We had two rooms here. One was loud and noisy ...,"December 25, 2011",NaN,NaN,2,2,1.0,1,1,2,2,UR122075840,“It sucks! Never stay here one more time!”
24,ozziegirlz,"Brisbane, Australia",My sister and I chose to stay here overnight b...,"December 16, 2011",NaN,NaN,4,3,4.0,4,4,4,4,UR121787591,“Will stay here again”
25,dkcoll,Australia,We booked this hotel as we had an early flight...,"December 11, 2011",NaN,NaN,4,4,4.0,4,2,NaN,3,UR121644567,“Good for overnight for an early flight!”
26,CherylandBrett,California,We have been staying here for 20 years because...,"December 7, 2011",NaN,NaN,3,3,2.0,3,1,3,1,UR121500753,“Service has gone down the tubes!”
27,kiwi2403,"Christchurch, New Zealand",We have used this hotel quite a lot of times w...,"November 26, 2011",NaN,NaN,5,5,4.0,5,5,5,5,UR121040070,“Reasonable quality accommodation”
28,Kazoo_Bruce,"Portage, Michigan",Nice property next to LAX. Recently updated. M...,"November 20, 2011",NaN,NaN,4,3,4.0,3,5,4,5,UR120837478,“Good airport hotel”
29,status88,"Washington DC, District of Columbia",I stayed 3 nights for a business trip. The hot...,"November 19, 2011",NaN,NaN,4,3,3.0,3,3,4,4,UR120780954,“Decent for price”
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,tell_me_how,New Zealand,This hotel is in desperate need of an upgrade....,"August 24, 2007",NaN,1,2,2,2.0,2,NaN,NaN,1,UR8499847,“There's got to be better stopover options tha...
159,Staidthere,"Jakarta, Indonesia",My wife and I stayed at the Holday Inn LAX for...,"August 12, 2007",2,3,5,4,4.0,4,3,NaN,4,UR8397820,“Good value for short stay”
160,Naturefreak,"Pennington,NJ",This was the worst place we stayed during our ...,"July 5, 2007",NaN,4,3,4,2.0,3,4,NaN,4,UR8063908,“Run Down and Noisy”
161,travelleralamundo,"Bettendorf,Iowa",Got a free night at this hotel courtesy of a m...,"June 27, 2007",3,3,3,5,3.0,3,NaN,NaN,3,UR8017296,“Convenient Location”
162,Dani_Serres,"Sao Paulo, SP",I stayed there twice in my last trip to LA. Ve...,"June 20, 2007",3,4,3,2,3.0,3,4,NaN,3,UR7953167,“Nice experience”
163,mamboking,adelaide south australia,After reading many reviews on Tripadvisor I fi...,"June 5, 2007",3,5,4,4,4.0,4,5,NaN,4,UR7780729,“Value for what it is?????”
164,Live2Explore,san jose ca,it was just an average experience for me. Thou...,"April 2, 2007",1,3,3,3,3.0,2,3,NaN,2,UR7271793,“Not special”
165,LittleMissK,Intrepid Aussie Adventurer,I stayed here with 2 friends in February 2006 ...,"February 13, 2007",3,3,3,3,4.0,3,3,NaN,3,UR6784540,“Had a great stay”
166,brisbane-chick,"Brisbane, Australia",After reading almost every review on this hote...,"January 29, 2007",5,5,5,5,5.0,5,5,NaN,5,UR6713286,“Fantastic!!”
167,RexT,"Ottawa, Canada",Stayed here 2 nights; you get pretty much what...,"October 25, 2006",1,3,3,3,3.0,4,3,NaN,4,UR6010605,“Good value”
168,Laurasara,Scottsdale,My room number was given to a man that I did n...,"October 11, 2006",NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,UR5943236,“Terrifying”
169,Ariana&Sam,Melbourne,We stayed at this hotel for two nights before ...,"September 8, 2006",5,3,4,2,3.0,3,4,NaN,3,UR5782745,“Great Place For A Couple of Nights”
170,chocs1,"Ottawa, Canada",This hotel is one mile from the airport I stay...,"August 29, 2006",4,4,4,4,4.0,4,4,NaN,4,UR5725493,“Good Hotel”
171,Bigcha,"Papillion, Nebraska",We were stuck in LAX overnight due to flight d...,"August 10, 2006",NaN,3,2,3,1.0,2,3,NaN,1,UR5597703,“Old and Smells”
172,thefamilycoops,united kingdom,"We stayed three nights early april, we could n...","May 7, 2006",NaN,NaN,5,NaN,4.0,4,5,NaN,4,UR5039974,“very helpful staff good hotel”
173,toela,Nova Scotia,"We stayed at the Holiday Inn Apr 14, for an ea...","April 21, 2006",NaN,NaN,4,NaN,4.0,4,4,NaN,4,UR4993711,“Great Stop Over”
174,Livinginspain,Madrid,The staff was nice. It is close to the airport...,"April 4, 2006",NaN,NaN,1,NaN,2.0,1,4,NaN,1,UR4895912,"“Staff nice, the rest horrible”"
175,A TripAdvisor Member,"Windsor, ON",We stayed here for 1 night courtesy of Northwe...,"April 4, 2006",NaN,NaN,5,NaN,5.0,5,5,NaN,5,UR4895751,“Perfect!”
176,maugrim,"Sydney, Australia",I stayed here on 2 occasions and think that it...,"March 18, 2006",NaN,NaN,4,NaN,4.0,4,4,NaN,5,UR4691101,“I'd stay here again”
177,Marie715,"Chicago, Illinois",I was pleasantly surprised by my one night sta...,"February 16, 2006",NaN,NaN,5,NaN,5.0,5,5,NaN,5,UR4465009,“Very Happy With This Hotel”
178,R0adWarrier,Upper Michigan,I was very satisfied. There are bus stops righ...,"February 7, 2006",NaN,NaN,4,NaN,4.0,3,4,NaN,5,UR4441041,“Good location and good price.”
179,Florida-Falcon,Florida,My wife and I stayed at this hotel as part of ...,"January 5, 2006",NaN,NaN,4,NaN,4.0,4,5,NaN,4,UR4327316,“Better than expected”
180,Oakhursttraveler,"Oakhurst, Ca","Very convenient to the airport. Clean, big roo...","May 12, 2005",NaN,NaN,3,NaN,4.0,3,4,NaN,4,UR3461964,“Good Value”
181,A TripAdvisor Member,Australia,Stayed at this hotel for one night during Janu...,"February 16, 2005",NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,UR3195144,“Reasonable for the price”
182,Wasabi,"Sydney, Australia",Myself and my wife spent 1 night in the hotel....,"February 15, 2005",NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,UR3186433,“A Good Hotel for a Stopover”
183,MontrealSunseeker,Montreal,We booked this place on a family vacation in C...,"January 29, 2005",NaN,NaN,3,NaN,2.0,2,3,NaN,3,UR3098446,“Did not meet Holiday Inn standards”
184,A TripAdvisor Member,,We stayed in this motel for 1 night before we ...,"January 23, 2005",NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,UR3025893,“Yuck and Double Yuck”
185,Noel O,"Gerogery West, Australia",Very convenient location when you want to drop...,"November 20, 2004",NaN,NaN,3,NaN,3.0,3,3,NaN,4,UR2836354,“An airport hotel. No more. No less.”
186,A TripAdvisor Member,"Melbourne, Australia",Stayed one night with my wife in June 2004. Co...,"November 9, 2004",NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,UR2816275,“Reasonable for the price and location close t...
187,roam-ID,"Moscow, ID",Stayed here on business. Seemed like a decent ...,"October 11, 2004",NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,UR2696526,“reasonable value for near-airport accommodati...